@import "../../scss/var.scss";

:local(.tile) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
}
